*{
    font-family: 'DM Sans', sans-serif;
    /* border: 1px solid red; */
}

body{
    font-size: 16px;
}

.navbar-collapse {
    width: max-content !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color:salmon;
    position: absolute;
    top: 90%;
  
}

.carousel-control-prev-icon{
    left: 550px;
}
.carousel-control-next-icon{
    right: 550px;
}


button{
    background-color: salmon !important;
    border: transparent !important;
}



@media (max-width:600px) {
    .carousel-control-next-icon, .carousel-control-prev-icon{
        display: none;
    }
    .hero-info{
     flex-direction: column-reverse;
     text-align: center;
    }

    .subtitle{
        display: none;
    }

    .title{
       
        width: 100%;
       
    }

    .categories{
        gap: 2em;
    }
}